-
	var links = [
		{
			name: "Главная",
			url: "#our-team"
		},
		{
			name: "Преимущества",
			url: "#open-form"
		},
		{
			name: "Функционал",
			url: "#services"
		},
		{
			name: "Кабинет",
			url: "#contacts"
		},
	]

.header-offset
header.main-header
	.limit
		.logo
			a.img
				img(src="../assets/images/logo.png", srcset="../assets/images/logo@2x.png 2x, ../assets/images/logo@3x.png 3x")
		.inline.middle
			nav.links
				each link in links
					a.link(href=link.url)!= link.name

		.menu-btn
			.action.hamburger(data-open-modal="menu-modal")
			.action.cross(onclick="closeModals()")
			.overflow
				.lines
					.line
					.line
					.line


