-
	var addresses = [
		{
			city: 'Ростов-на-Дону',
			phone: '+7 863 123 45 67',
			email: 'mail@softezza.ru',
			location: 'Ростов-на-Дону, 14-я&nbsp;линия, 50, офис.&nbsp;509',
		},
		{
			city: 'Нью-Йорк',
			phone: '+1 777 123-45-67',
			email: 'mail@softezza.ru',
			location: '123 Mail Street, Suite&nbsp;450, New&nbsp;York, NY 10038',
		}
	];
